services:
  db:
    image: postgres:15-alpine
    container_name: animal-hotel-db
    env_file:
      - .env.dev
    
    ports:
      - "5432:5432"

    volumes:
      - postgres-data:/var/lib/postgresql/data

    networks:
      - animal-hotel-network

  api:
    build:
      context: .
      target: builder

    container_name: animal-hotel-api
    env_file:
      - .env.dev

    ports:
      - "3000:3000"

    depends_on:
      - db

    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    
    command: npm run dev

    networks:
      - animal-hotel-network
volumes:
  postgres-data:

networks:
  animal-hotel-network:
    driver: bridge